extends ./base/layout.pug

block content
    nav.nav
        a.nav-link.active(href="#") Inicio
    main
        section.section
            .container
                .row
                    .col
                        .box_list_data
                            ul.list_data.bdr_list
                                li
                                    p 00
                                li
                                    p 01
                                li
                                    p 02
                                li
                                    p 03
                                li
                                    p 04
                                li
                                    p 05
                                li.active(data-toggle="tooltip", data-placement="top", data-html="true", title="<em>Sergio Martinez</em> <b>PAGO</b>  ")
                                    p 06
                                li
                                    p 07
                                li
                                    p 08
                                li
                                    p 09
                                li
                                    p 10
                                li
                                    p 11
                                li
                                    p 12
                                li
                                    p 13
                                li
                                    p 14
                                li
                                    p 15
                                li
                                    p 16
                                li
                                    p 17
                                li
                                    p 18
                                li
                                    p 19
                                li
                                    p 20
                                li
                                    p 21
                                li
                                    p 22
                                li
                                    p 23
                                li
                                    p 24
                                li
                                    p 25
                                li
                                    p 26
                                li
                                    p 27
                                li
                                    p 28
                                li
                                    p 29
                                li
                                    p 30
                                li
                                    p 31
                                li
                                    p 32
                                li
                                    p 33
                                li
                                    p 34
                                li
                                    p 35
                                li
                                    p 36
                                li
                                    p 37
                                li
                                    p 38
                                li
                                    p 39
                                li
                                    p 40
                                li
                                    p 41
                                li
                                    p 42
                                li
                                    p 43
                                li
                                    p 44
                                li
                                    p 45
                                li
                                    p 46
                                li
                                    p 47
                                li
                                    p 48
                                li
                                    p 49
                                li
                                    p 50
                                li
                                    p 51
                                li
                                    p 52
                                li
                                    p 53
                                li
                                    p 54
                                li
                                    p 55
                                li
                                    p 56
                                li
                                    p 57
                                li
                                    p 58
                                li
                                    p 59
                                li
                                    p 60
                                li
                                    p 61
                                li
                                    p 62
                                li
                                    p 63
                                li
                                    p 64
                                li
                                    p 65
                                li
                                    p 66
                                li
                                    p 67
                                li
                                    p 68
                                li
                                    p 69
                                li
                                    p 70
                                li
                                    p 71
                                li
                                    p 72
                                li
                                    p 73
                                li
                                    p 74
                                li
                                    p 75
                                li
                                    p 76
                                li
                                    p 77
                                li
                                    p 78
                                li
                                    p 79
                                li
                                    p 80
                                li
                                    p 81
                                li
                                    p 82
                                li
                                    p 83
                                li
                                    p 84
                                li
                                    p 85
                                li
                                    p 86
                                li
                                    p 87
                                li
                                    p 88
                                li
                                    p 89
                                li
                                    p 90
                                li
                                    p 91
                                li
                                    p 92
                                li
                                    p 93
                                li
                                    p 94
                                li
                                    p 95
                                li
                                    p 96
                                li
                                    p 97
                                li
                                    p 98
                                li
                                    p 99

